<!DOCTYPE html>
<html>
<head>
  <title>ImageManagement</title>
  <%= stylesheet_link_tag    "image_management/application", :media => "all" %>
  <%= javascript_include_tag "image_management/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
