<h1>Listing provider_images</h1>
<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @provider_images.each do |provider_image| %>
	<tr>
		<td><%= link_to 'Show', provider_image %></td>
		<td><%= link_to 'Edit', edit_provider_image_path(provider_image) %></td>
		<td><%= button_to 'Delete', provider_image_path(provider_image), :method => :delete %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to 'New Provider image', new_provider_image_path %>
