<h1>Listing target_images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @target_images.each do |target_image| %>
  <tr>
    <td><%= link_to 'Show', target_image %></td>
    <td><%= link_to 'Edit', edit_target_image_path(target_image) %></td>
    <td><%= button_to 'Delete', target_image_path(target_image), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target image', new_target_image_path %>
