!!! XML
%image_version{:id => image_version.id, :href => image_management_image_version_url(image_version.id) }
  - if image_version.base_image
    = render :partial => 'image_management/base_images/base_image_minimal', :locals => {:base_image => image_version.base_image}