!!! XML
%api{:href => root_url}
  %templates{:href => templates_url}
  %base_images{:href => base_images_url}
  %image_versions{:href => image_versions_url}
  %target_images{:href => target_images_url}
  %provider_images{:href => provider_images_url}
