<!DOCTYPE html>
<html>
<head>
  <title>Tim</title>
  <%= stylesheet_link_tag    "tim/application", :media => "all" %>
  <%= javascript_include_tag "tim/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
